<footer class="site-footer">
  <div class="footer-container">
      <div class="footer-column contact-info">
          <img src="img/Perfect_repository.png" alt="Logo Aetherium Mods" class="footer-logo">
          <p>Aetherium Mods</p>
          <p>El mejor centro de Mods</p>
          <p class="contact-detail"><i class="fas fa-envelope"></i> aetherium.mods@gmail.com</p>
          <p class="contact-detail"><i class="fas fa-phone"></i> +57 317 124 0036</p>
      </div>

      <div class="footer-column site-links">
          <h4>Foros y Comunidad</h4>
          <ul>
              <li><a href="#"><i class="fas fa-comments"></i> Foro Oficial</a></li>
              <li><a href="https://discord.gg/5qUNhU8M"><i class="fab fa-discord"></i> Servidor de Discord</a></li>
              <li><a href="https://www.instagram.com/storm_viper3/"><i class="fab fa-instagram"></i> Instagram</a></li>
              <li><a href="#"><i class="fab fa-github"></i> GitHub (Código)</a></li>
          </ul>
      </div>

      <div class="footer-column legal-info">
          <h4>Información Legal</h4>
          <ul>
              <li><a href="#">Política de Privacidad</a></li>
              <li><a href="#">Términos de Servicio</a></li>
              <li><a href="#">Mapa del Sitio</a></li>
              <li><a href="#">Preguntas Frecuentes</a></li>
          </ul>
      </div>
  </div>
  <div class="footer-bottom">
      <p>&copy; 2025 Aetherium Mods. Todos los derechos reservados.</p>
  </div>
</footer>
