<aside class="sidebar">
  <div class="sidebar-header">
      <img src="../img/Perfect_repository.png" alt="Logo Aetherium Mods" class="sidebar-logo">
      <h3>Aetherium Mods</h3>
      <p>Perfect Repository</p>
  </div>
  <nav>
      <ul>
          <li><a href="../index.html"><i class="fas fa-home"></i> Página Principal</a></li>
          <li><a href="#destacados"><i class="fas fa-star"></i> Destacados</a></li>
          <li><a href="#juegos"><i class="fas fa-gears"></i> Juegos Compatibles</a></li>
          <li><a href="#noticias"><i class="fas fa-sitemap"></i> Noticias y Updates</a></li>
          <li><a href="#contacto"><i class="fas fa-comments"></i> Foro / Comunidad</a></li>
      </ul>
  </nav>
</aside>
